<footer class="footer bg-blue-50 py-12">
  <section class="mx-auto flex max-w-7xl flex-wrap px-2 sm:px-6 lg:px-8">
    <div class="w-full p-5 lg:w-1/2">
      <div class="flex flex-shrink-0">
        <h1 class="mb-3 text-2xl font-bold text-blue-700">Vaccination</h1>
      </div>
      <p class="max-w-xs leading-8">
        Our goal is to help the world free form the ongoing pandemic
      </p>
    </div>
    <div class="flex w-full flex-wrap p-5 lg:w-1/2">
      <div class="flex-1">
        <h2 class="mb-3 text-xl font-bold text-indigo-900">About</h2>
        <ul class="leading-9">
          <li>About Us</li>
          <li>Features</li>
          <li>News & Blog</li>
        </ul>
      </div>

      <div class="flex-1">
        <h2 class="mb-3 text-xl font-bold text-indigo-900">Company</h2>
        <ul class="leading-9">
          <li>How We Work?</li>
          <li>Capital</li>
          <li>Security</li>
        </ul>
      </div>

      <div class="flex-1">
        <h2 class="mb-3 text-xl font-bold text-indigo-900">Suport</h2>
        <ul class="leading-9">
          <li>FAQs</li>
          <li>Support Center</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="mx-auto mt-16 flex max-w-7xl flex-wrap px-2 sm:px-6 lg:px-8">
    <div class="w-full text-center lg:w-1/2">
      @2021 Vaccination. All rights reserved.
    </div>
    <div class="w-full text-center lg:w-1/2 lg:text-right">
      <a href="#">Terms & Agreements</a><a class="ml-3" href="#">Privacy Policy</a>
    </div>
  </section>
</footer>